# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
*.log
*.swp
*.swo

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride
._*

# local env files
.env*.local
.env
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# iOS
ios/Pods/
ios/build/
ios/*.xcworkspace/
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/xcuserdata/
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.pbxuser
ios/*.xcuserstate
ios/.xcode.env.local

# Android
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
android/captures/
android/gradlew
android/gradlew.bat
android/gradle/wrapper/gradle-wrapper.jar
android/app/debug/
android/app/release/
android/app/src/main/assets/
android/app/src/main/res/raw/
android/app/debug.keystore

# Temporary files
*.tmp
*.temp
.cache/
